{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook",
        [
          "file-loader", 
          {
            "publicPath": "/.jest/public",
            "outputPath": "/.jest/public" 
          }
        ]
      ]
    }
  }
}
